---
import Badge from "../components/ui/Badge.astro";
import Button from "../components/ui/Button.astro";
import Container from "../components/ui/Container.astro";
import Typography from "../components/ui/Typography.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Container>
    <div class="flex flex-col gap-4 md:gap-6 items-start mt-32">
      <Badge>Rolna 60a, Katowice</Badge>
      <Typography as="h1" variant="h1" font="serif" weight="regular" class="" }>
        Twoje włosy, nasza<br />pasja - Profesjonalny<br /> salon fryzjerski w<br
        /> Katowicach
      </Typography>

      <Typography
        as="p"
        variant="p"
        font="sans"
        weight="regular"
        italic="true"
        class="max-w-lg"
      >
        Zadbaj o swoje włosy z najlepszymi stylistami w Katowicach! Strzyżenie,
        koloryzacja, regeneracja – wszystko, czego potrzebujesz, by wyglądać i
        czuć się wyjątkowo.
      </Typography>

      <Button variant="regular">Sprawdź nasz cennik</Button>
    </div>
  </Container>
</Layout>
