---
const base = import.meta.env.BASE_URL;
---

<nav class="h-18 md:h-20 bg-white">
  <a href={`${base}`}>Strona główna</a>
  <a href={`${base}kontakt`}>Kontakt</a>
  <a href={`${base}cennik`}>Cennik</a>
</nav>
