---
import TempFooter from "../components/TempFooter.astro";
import TempNav from "../components/TempNav.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div
      class="min-h-dvh flex flex-col bg-brand-100 relative overflow-x-hidden"
    >
      <div
        class="absolute top-0 left-0 w-full h-[480px] bg-linear-to-b from-brand-200 to-brand-100 pointer-events-none"
      >
      </div>
      <div class="relative z-10 flex flex-col flex-1">
        <TempNav />
        <main class="flex-1">
          <slot />
        </main>
        <TempFooter />
      </div>
    </div>
  </body>
</html>
