---
import { cva, type VariantProps } from "class-variance-authority";
import { cn } from "../../lib/utils";

const buttonVariants = cva(
  `
  inline-flex items-center justify-center cursor-pointer
  rounded-sm
  bg-brand-700 hover:bg-brand-800 active:bg-brand-900
  font-medium text-white
  transition-colors duration-150
`,
  {
    variants: {
      variant: {
        regular: "h-10 px-5 text-sm",
        small: "h-8  px-4 text-xs",
      },
    },
    defaultVariants: {
      variant: "regular",
    },
  },
);

type Props = VariantProps<typeof buttonVariants> & { class: string };

const { variant, class: className } = Astro.props as Props;
---

<button
  class={cn(
    `
      inline-flex items-center justify-center
      disabled:opacity-50 disabled:pointer-events-none
    `,
    className
  )}
>
  <span class={buttonVariants({ variant })}>
    <slot />
  </span>
</button>
